/* RESET CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS */
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.clear{
    clear: both;
}

.text-white{
    color: white !important;
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.col-fouth{
    width: 25%;
}

/* End */
body{
    background-color: #ccc;
}

#main{

}

#header {
    background-color: #d7202c;
}

#nav{
    width: inherit;
    min-width: inherit;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



#nav .container {
    display: flex;
    align-items: center;
    height: 34px;
    margin: 0 34px;
    font-size: 13px;
}

#nav .container .navbar-spacer{
    flex: 1;
}

#nav .container ul a{
    line-height: 34px;
    align-items: center;
    text-decoration: none;
    color: #fff;color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    padding: 0 7px;
    border-right: 2px solid #fff;
}

#nav .container ul a i{
    font-size: 15px;
}

#nav .container li:hover a{
    opacity: 0.6;
}

#nav .homenav{

}

#nav .homenav li{
    display: inline-block;
}


#nav .homenav i{
    color: #fff;
}

#nav .subnav i{
    color: #fff;
}

#nav .subnav li{
    display: inline-block;
}

#search-bar {
    width: inherit;
    min-width: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3px;
    margin-top: 8px;
}

#search-bar .search{
    position: relative;
    width: 840px;
    max-width: 840px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    outline: none;
    border: 2px solid #fff;
    padding-left: 7px;
}

.search-btn{
    position: absolute;
    padding: 9px 21px;
    background-color: #fb5533;
    border: 2px solid #fff;
    color: #fff;
}

#search-bar button:hover{
    cursor: pointer;
}

#search-bar .list-item li{
    display: inline-block;
    margin: 4px 0;
}

#search-bar .list-item li:hover a{
    opacity: 0.6;
}

#search-bar .list-item li a{
    text-decoration: none;
    color: #fff;
    padding: 0 7px;
    border-right: 2px solid #fff;
    font-size: 13px;
}

#slider{
    padding-top: 50%;
    background: url(https://theme.hstatic.net/1000026716/1000440777/14/slideshow_6.jpg?v=22744) top center / cover no-repeat;
}

#content{
}

#content #content-section{
    width: 1000px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    margin: 0;
    font-size: 22px;
    background: #d7202c;
    padding: 10px 20px;
    color: #fff;
    min-width: 100%;
    line-height: 1.4;
    display: inline-block;
}

#content .contact-heading{
    text-align: center;
    padding-left: 5%;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
    text-align: justify;
}

#content .member-list{
    margin-top: 48px;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour section */
#tour-secetion{
    background-color: black;
}

.tickets-list{
    list-style-type: none;
    background-color: white;
    margin-top: 40px;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: solid #ddd;
    color: #757575;
}

.tickets-list .sold-out{
    background-color: #f44336;
    padding:3px 4px;
    color: white;
    margin-left: 16px;
}

.tickets-list .quantity{
    background-color: #000;
    width: 24px;
    height: 24px;
    float: right;
    border-radius: 50%;
    text-align: center;
    color:white;
    line-height: 24px;
} 


.item-list{
    margin-top: 8px;
    margin-bottom: 16px;
}


.item-img{
    width: 100%;
    display: block;
}

.item-img:hover{
    opacity: 0.6;
    cursor: pointer;
}

.item-body{
    background-color: rgba(255, 255, 255, 0.966);
    padding: 16px;
    font-size: 15px;
    box-shadow: #C92127;
}

.item-heading{
    font-size: 15px;  
}

.item-body a{
    text-decoration: none;
    color: #fff;
}

.item-heading{
    font-size: 15px;  
}

.sale-price{
    color: #888;
    text-decoration: line-through;
}

.sale{
    margin-left: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: #C92127;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.het-hang{
    margin-top: 31px;
    line-height: 1.4;
    font-size: 20px;
    color: #ed0000;
    font-weight: 700;
}

.item-desc{
    margin-top: 15px;
    line-height: 1.4;
    font-size: 20px;
    color: #ed0000;
    font-weight: 700;
}

.item-item button{
    border: none;
    cursor: pointer;
}
.item-buy-btn{
    background-color: #ed0000;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.item-buy-btn:hover{
    background-color: #ccc;
    color: black;
}

.contact {
    margin-top: 50px;
}

.form-text {
    line-height: 1.5;
    font-size: 18px;
}

.form-text i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .sumbit-btn{
    background-color: #000;
    color: #fff;
    padding: 12px 18px;
    border: none;
    float: right;
    cursor: pointer;
}

.map img{
    width: 100%;
}

#footer{
    margin-top: 64px;
    background-color: rgba(0,0,0,.85);
}

#footer .footer-info{
    width: 1110px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer-info span{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    color: #fff;
    margin-bottom: 20px;
}

.footer-info p{
    margin-bottom: 15px;
}

.footer-info p a{
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.footer-info p:hover a{
    opacity: 0.5;
    cursor: pointer;
}

.footer-group {
    margin-top: 54px;
    margin-bottom: 45px;
}
    
.footer-group i{
    color: #fff;
    font-size: 28px;
    margin-right: 20px;
}

.footer-group i:hover{
    opacity: 0.5;
    cursor: pointer;
}




